
<% if user_signed_in?%>
<table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      
      <th>Phone</th>
      <th>Social network</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @friends.each do |friend| %>
      
      <tr>
        <td>
          <%= link_to friend.first_name, friend %>
          <%= friend.last_name %>
        </td>
        <td><%= friend.phone %></td>
        <td><%= friend.social_network %></td>
        
        <td><%= link_to 'Terminate', friend, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
      </tr>

    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Friend', new_friend_path, class:"btn btn-secondary" %>

  <% else %>

<h1>Hello, World!</h1>
<p>Put's your mind to it, and you can do it!</p>

  <% end %>



